{{#paper-toolbar tall=tall as |toolbar|}}
  {{#toolbar.tools}}
    {{#if showBackButton}}
      {{#paper-button iconButton=true onClick=(action onBack)}}
        {{paper-icon "keyboard backspace" }}
      {{/paper-button}}
    {{/if}}

    <h2>{{title}}</h2>

    <span class="flex"></span>
    {{yield}}

  {{/toolbar.tools}}
{{/paper-toolbar}}
