<div class="game-index">
  <h2 class="page-title">Spelare</h2>
  {{#paper-card as |card|}}
    {{#card.content}}
      Andra spelare kan gå genom att söka på spelet som heter
      <em>{{model.id}}</em>.

      {{player-list game.players}}
    {{/card.content}}
  {{/paper-card}}

  {{outlet}}
</div>
