body, md-content.main-content{
  background-color: $base-background-color;
  color: $base-color;
  line-height: 20px;
  font-size: 14px;
}

.btn-inline {
  height: 40px;
  top: 7px;
}

.page-title {
  margin: 15px 11px 0;
  font-size: 12px;
  color: color($color-grey);
}

#site-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;

  > div, div > md-content {
    height: 100%;
  }
}

.btn__full-width {
  margin: 0;
  width: 100%;
}

.md-list-item-right {
  position: absolute;
  right: 0;
  width: 55px;
  text-align: center;
}

.no-padding {
  padding: 0;
}

a, a:active, a:visited {
  color: color($primary, '700');
  text-decoration: none;
}
