body {
  color: $base-color;
}

body, md-content.main-content{
  background-color: $base-background-color;
}

.btn-inline {
  height: 40px;
  top: 7px;
}

.page-title {
  margin: 15px 11px 0;
  font-size: 12px;
  color: color($color-grey);
}

#site-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn__full-width {
  margin: 0;
  width: 100%;
}
