body {
  background-color: $base-background-color;
  color: $base-color;
}

.btn-inline {
  height: 40px;
  top: 7px;
}

.page-title {
  margin: 15px 11px 0;
  font-size: 12px;
  color: color($color-grey);
}
