<h2 class="page-title">VÄLKOMMEN</h2>
{{#paper-card as |card|}}
  {{#card.content}}
    <p>
      Andra spelare kan gå med genom att söka på spelet som heter
      <strong>{{game.id}}</strong>.
    </p>

    {{player-list players=game.players}}

    {{#if hasTooFewPlayers}}
      <p>
        Ni måste vara minst 2 för att spela.
      </p>
    {{/if}}

    {{#paper-button
      primary=true
      raised=true
      disabled=hasTooFewPlayers
      classNames="btn__full-width"
      onClick=(action "startPlaying")
    }}
      Börja spela!
    {{/paper-button}}

  {{/card.content}}

{{/paper-card}}
