#fab-destination {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;

  md-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-size: 30px;
  }
}
