.cg-toolbar {
  .menu-item__logout i {
    position: relative;
    top: -4px;
  }

  .menu__current-user {
    margin-right: -16px;
    margin-top: 5px;

    md-menu {
      position: relative;
      top: -2px;

      .md-icon-button {
        margin-left: 0px;
      }
    }
  }

  // when using tabs in toolbar
  .md-toolbar-tools {
    flex-wrap: wrap;
    font-weight: 500;
  }

  .toolbar-title__2-rows {
    h2 {
      font-size: 18px;
      margin-top: 4px;
    }
    h3 {
      font-size: 13px;
    }
  }
}
