.cg-toolbar {
  .menu-item__logout i {
    position: relative;
    top: -4px;
  }

  // when using tabs in toolbar
  .md-toolbar-tools {
    flex-wrap: wrap;
    font-weight: 500;
  }

  .toolbar-title__2-rows {
    h2 {
      font-size: 18px;
      margin-top: 4px;
    }
    h3 {
      font-size: 13px;
    }
  }

  .cg-toolbar__right-buttons {
    position: relative;
    right: -10px;

    .md-button {
      margin: 0;
      padding: 0;
      width: 25px;
    }

  }
}
